.Card {
    box-shadow: 3px;
    text-align: center;
    margin-top: 40px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #8b5c8d91;
}

.Price {
    margin-top: -10%;
}